html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .container {
        height: 100%;
        position: relative;
      }

      input {
        font-size: 12px;
      }

      h1 {
        color: #525454;
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
      }

      #hide-listings,
      #show-listings {
        width: 48%;
      }

      hr {
        background: #D0D7D9;
        height: 1px;
        margin: 20px 0 20px 0;
        border: none;
      }

      #map {
        bottom:0px;
        height: 100%;
        left: 362px;
        position: absolute;
        right: 0px;
      }

      .options-box {
        background: #fff;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100%;
        line-height: 35px;
        padding: 10px 10px 30px 10px;
        text-align: left;
        width: 340px;
      }

      #pano {
        width: 200px;
        height: 200px;
      }

      #places-search,
      #search-within-time-text {
        width: 84%;
      }

      .text {
        font-size: 12px;
      }

      #toggle-drawing {
        width: 27%;
        position: relative;
        margin-left: 10px;
      }

      #zoom-to-area-text {
        width: 70%;
      }

      #zoom-to-area {
        width: 24%;
      }

      /*infowindow*/
      .info-left{
        /*width:33.3%;*/
        /*display: -webkit-flex;*/
        margin-right: 1em;
      }

      .info-name{
        font-size:20px;

        font-weight: bold;
      }

      .info-addr{
        /*color: #bbb;*/
      }

        .info-rating{
            display: -webkit-flex;
            display: flex;
            align-items:center;
        }
        .info-rating-left{
            /*padding-left:0 !important;*/
            /*flex: 3;*/
        }
        .info-yelp{
            /*flex: 1;*/
        }
        .info-right{
        color: #666;
        /*width:66.6%;*/
        /*flex-direction: row;*/
        flex: 1;
        }

        .info{
            display: -webkit-flex;
            display: flex;
            align-items:flex-start;
        }

        .info-review{
            font-size: 10px;
        }

        .info-cate {
          color: #0073bb;
          line-height: 1.5em;
        }
        a.info-link:hover {
            text-decoration: underline;
        }

        a.info-link {
            text-decoration: none;
            color: #0073bb;
        }

        ul.list {
            list-style-type: none;

        }

        ul.list>li {
            display: -webkit-flex;
            display: flex;
            align-items:center;
        }

        .list-item {
            flex:1;
        }

        .navigate {
            margin-right: 1em;
        }

    .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;

       /*float: right;*/
       /*padding-top: 8px;*/
    }


